@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
}
.container{
    max-width: 1600px;
    margin: 20px 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.photo{
    width: 60%;

    
}
.photo__top h2 {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
.photo__top button {
    display: flex;
    max-width: 350px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}
.photo__bottom {
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.photo__bottom img {
    max-width: calc(100% - 15px);
    height: 100%;
    object-fit: cover;
}
.settings {
    width: 40%;
    height: 100vh;
    border-left: 1px solid white;
    padding-left: 50px;
}
.settings h2 {
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
.settings input {
    width: 100%;
    background: linear-gradient(90deg, #0066CC 0%, #c500cc 100%);
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    outline: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
}
.settings input::placeholder {
    color: white;
}


@media screen and (max-width:800px) {
    .container {
        max-width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: initial;
    }
    .photo {
        width: 100%;
    }
    .photo__bottom {
        max-height: 400px;
    }
    .settings {
        width: 100%;
        height: auto;
        border-left: none;
        padding-left: 0;
    }
}